<app-header></app-header>
<div class="container">
    <div class="confirmation-container">
        <h1>Order Confirmation</h1>
        <p>Thank you for your order! Below are the details of your order</p>     
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-info">
                            <img 
                            src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="Product Image" class="product-image">
                            <span class="product-name">iPhone 13</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>100,000 VND</td>
                    <td>200,000 VND</td>
                </tr>
                <tr>
                    <td>
                        <div class="product-info">
                            <img 
                            src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="Product Image" class="product-image">
                            <span class="product-name">MacBook Pro M2 2023</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>100,000 VND</td>
                    <td>200,000 VND</td>
                </tr>
                <tr>
                    <td>
                        <div class="product-info">
                            <img 
                            src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="Product Image" class="product-image">
                            <span class="product-name">Apple Vision Pro 2023</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>100,000 VND</td>
                    <td>200,000 VND</td>
                </tr>
            </tbody>
        </table>   
        <div class="text-center mt-3">
           <button class="btn btn-gradient" type="button">Continue Shopping</button>
        </div> 
    </div>    
</div>
<app-footer></app-footer>