<app-header></app-header>
<div class="container">
    <div class="confirmation-container">
        <h1>Order Confirmation</h1>
        <p>Thank you for your order! Below are the details of your order</p>     
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col">Total Price</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of cartItems">
                    <tr>
                        <td>
                            <div class="product-info">
                                <img [src]="item.product.thumbnail" alt="Product Image" class="product-image">
                                <span class="product-name">{{ item.product.name }}</span>
                            </div>
                        </td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price | currency:'USD':'symbol':'1.0-0' }}</td>
                        <td>{{ (item.product.price * item.quantity) | currency:'USD':'symbol':'1.0-0' }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>           
    </div>    
    <!-- Coupon code input -->
    <div class="input-group mb-3 mt-3 col-6">
        <input type="text" class="form-control" 
            [(ngModel)]="couponCode" placeholder="Coupon Code">
        <div class="input-group-append" style="margin-left: 10px;">
            <button class="btn btn-outline-secondary" type="button" (click)="applyCoupon()">Apply Code</button>
        </div>
    </div>

    <!-- Display total amount after applying discount -->
    <p class="mb-0">Total Amount: {{ totalAmount | currency:'USD':'symbol':'1.0-0' }}</p>
    <div class="text-center mt-3">
        <button class="btn btn-gradient" type="button">Place Order</button>
    </div> 
</div>
<app-footer></app-footer>