<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>This is the Order page</h1>
        <p>Using Bootstrap</p>
    </div>    
    <div class="row">
        <div class="col-md-6">
            <h2 class="product-header">Recipient Information</h2>
            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phone">
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h2 class="product-order">Ordered Products</h2>
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="text-start">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="product-info">
                                <img src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                    alt="Product Image" class="product-image">
                                <span class="product-name">Product Name</span>
                            </div>
                        </td>
                        <td>2</td>
                        <td>100,000 VND</td>
                        <td>200,000 VND</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="product-info">
                                <img src="https://images.pexels.com/photos/389819/pexels-photo-389819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                    alt="Product Image" class="product-image">
                                <span class="product-name">Product Name</span>
                            </div>
                        </td>
                        <td>1</td>
                        <td>150,000 VND</td>
                        <td>150,000 VND</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-start mt-3">
                <h4 class="header-text text-end">Total Price: 350,000 VND</h4>
            </div>
            <div class="mt-3">
                <h4 class="product-header">Enter Coupon</h4>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter coupon">
                    <button class="btn btn-gradient" type="button">Apply</button>
                </div>
            </div>
            <div class="text-start mt-3">
                <button class="btn btn-gradient" type="button">Place Order</button>
            </div>
        </div>
    </div>    
</div>
<app-footer></app-footer>