<app-header></app-header>
<div class="container">
  <form #registerForm="ngForm">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="register-form mx-auto">
          <h2 class="register-header">Register</h2>
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" 
                   class="form-control" 
                   [(ngModel)]="phoneNumber"
                   (input)="onPhoneNumberChange()"
                   name="phoneNumber"
                   (focus)="registerForm.form.markAsTouched()"
                   required id="phoneNumber">
            <div class="divider-nospace"></div>
            <p class="text-danger" 
               *ngIf="phoneNumber.length < 6 && registerForm.form.touched">
              Phone number must be at least 6 characters
            </p>
          </div>
          <div class="mt-3"></div>
          <div class="form-group password-field">
            <label for="password">Password</label>
            <input type="password" 
                   [(ngModel)]="password"                            
                   name="password"
                   placeholder="At least 3 characters" required
                   class="form-control" id="password">
            <i class="password-toggle fas fa-eye-slash"></i>
            <div class="divider-nospace"></div>
            <p class="text-danger" 
               *ngIf="password.length < 3 && registerForm.form.touched">
              Password must be at least 3 characters
            </p>
          </div>
          <div class="mt-3"></div>
          <div class="form-group password-field">
            <label for="retype-password">Retype Password</label>
            <input type="password" 
                   placeholder="At least 3 characters" 
                   [(ngModel)]="retypePassword" 
                   name="retypePassword"
                   (input)="registerForm.form.markAsTouched(); checkPasswordsMatch()"
                   required
                   class="form-control" id="retype-password">
            <i class="password-toggle fas fa-eye-slash"></i>
            <div class="divider-nospace"></div>
            <p class="text-danger" 
               *ngIf="registerForm.controls['retypePassword']?.hasError('passwordMismatch') 
                      && registerForm.form.touched">
              Passwords do not match
            </p>
          </div>
          <div class="mt-3"></div>
          <div class="form-group">
            <label for="full-name">Full Name</label>
            <input type="text" 
                   [(ngModel)]="fullName"
                   name="fullName"
                   class="form-control" required
                   id="full-name">
            <div class="divider-nospace"></div>
          </div>
          <div class="form-group">
            <label for="date-of-birth">Date of Birth</label>
            <input type="date" 
                   class="form-control" 
                   required
                   id="date-of-birth" 
                   [(ngModel)]="dateOfBirth"
                   name="dateOfBirth"
                   (input)="registerForm.form.markAsTouched(); checkAge()">
            <div class="divider-nospace"></div>
            <p class="text-danger" 
               *ngIf="registerForm.controls['dateOfBirth']?.hasError('invalidAge') 
                      && registerForm.form.touched">
              You must be at least 18 years old
            </p>
          </div>
          <div class="mt-3"></div>
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" 
                   [(ngModel)]="address"
                   name="address"
                   class="form-control" 
                   id="address">
            <div class="divider-nospace"></div>
          </div>
          <div class="form-group">
            <div class="form-check checkbox-text">
              <span style="display: flex;">
                <input type="checkbox" 
                       [(ngModel)]="isAccepted"
                       name="isAccepted"
                       class="form-check-input" id="agree">
                <label class="form-check-label text-start" for="agree">
                  I agree to the terms and conditions
                </label>
              </span>
            </div>
          </div>
          <button type="button" 
                  (click)="register()"
                  class="register-button">Register</button>
          <div class="divider"></div>
          <p class="text-center">Already have an account? <span>
            <a href="#" class="register-link">Login</a></span></p>
        </div>
      </div>
    </div>
  </form>
</div>
<app-footer></app-footer>